<!-- Chat box -->

<h3>Messages</h3>

<%= sync partial: 'message_row', collection: @messages %>
<%= sync_new partial: 'message_row', resource: @chow.messages.new %>

<hr>

<!-- Reply form -->

<%= form_for [@chow, @new_message], :url => url_for(controller: 'messages', action: 'create'), remote: true do |f| %>
    <%= f.text_field :content %>

    <%= f.submit "Reply" %>
<% end %>



