<!-- Chat box -->
<h3>Messages</h3>
<div class="container" id="messages-list" >
  <% @messages.each do |message| %>
      <%= render 'message_row', message: message %>
  <% end %>
</div>
<hr>


<!-- Reply form -->
<%= simple_form_for @message, :url => url_for(controller: 'messages', action: 'create'), html: { id: "chat-form"}, remote: true do |f| %>
    <%= f.text_field :content, id: "chat-field" %>
    <%= f.hidden_field :sender_id, value: "current_user.id" %>
    <%= f.hidden_field :chow_id, value: params[:chow_id] %>
    <%= f.submit "Send", class: "btn" %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      setInterval(refreshMessages, 3000);
    });

    function refreshMessages() {
      $.ajax({
        url: "messages/refresh_messages"
      });
    }
  </script>
<% end %>
