<!-- Chat box -->
<div class="container" id="messages-list" >
  <% @messages.each do |message| %>
      <%= render 'message_row', message: message %>
  <% end %>
</div>


<!-- Reply form -->
<%= simple_form_for @message, :url => url_for(controller: 'messages', action: 'create'), html: { class: "chat-form fixed bottom"}, remote: true do |f| %>
    <%= f.text_field :content, id: "chat-field" %>
    <%= f.hidden_field :sender_id, value: "current_user.id" %>
    <%= f.hidden_field :chow_id, value: params[:chow_id] %>
    <%= f.hidden_field :recipient_id, value: @recipient.id %>
    <%= f.submit "Send", class: "btn btn-chat" %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      setInterval(refreshMessages, 3000);
    });

    function refreshMessages() {
      $.ajax({
        url: "messages/refresh_messages"
      });
    }
  </script>
<% end %>

<% content_for(:left_nav) do %>
  <h4><%= link_to "", user_chows_path(current_user.id), class: "fa fa-chevron-left" %></h4>
<% end %>
<% content_for(:center_nav) do %>
  <%= image_tag @recipient.facebook_picture_url, class: "avatar" %><p><%= @recipient.first_name %></p>
<% end %>
<% content_for(:right_nav) do %>
  <%= link_to "", new_user_chow_calendar_path(current_user.id), class: "fa fa-calendar" %>
<% end %>
