<!-- Chat box -->
<h3>Messages</h3>
<div id="messages-list" >
  <% @messages.each do |message| %>
    <%= render 'message_row', message: message %>
    <br>
  <% end %>
</div>

<hr>

<!-- Reply form -->
<%= simple_form_for @message, :url => url_for(controller: 'messages', action: 'create'), remote: true do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :sender_id, value: "current_user.id" %>
    <%= f.submit "Reply" %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      setInterval(refreshMessages, 3000);
    });

    function refreshMessages() {
      $.ajax({
        url: "messages/refresh_messages"
      });
    }
  </script>
<% end %>
