<div class="text-center">
  <%= form_tag(recipes_search_path, method: :get) do %>
    <%= text_field_tag :query, params[:query], :placeholder => "hummus" %>
    <%= submit_tag 'Search Recipes', name: nil, class: "btn btn-chow" %>
  <% end %>
</div>

<br>

<%= form_tag(user_recipes_path(@user), method: "post" ) do %>

  <div class="container-recipe">
    <% @result_json["results"].first(4).each do |recipe| %>
      <%= text_field_tag :photo, "@image_url" + "recipe['image']" %>
        <div class="card-recipe-search">
            <div class="card-recipe"
                 style="background-image:url('<%= "#{@image_url}#{recipe['image']}" %>');">
            </div>
                <%= text_field_tag :name, "recipe['title']" %>
                <p><%= recipe["title"] %></p>
        </div>
    <% end %>
  </div>
  <%= submit_tag("Add Recipe to My Profile") %>
<% end %>

