<div class="card-profile-pic" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= user.facebook_picture_url %>');"></div>
<div class="badge">
<%= image_tag "https://res.cloudinary.com/wafflewitch/image/upload/v1501255264/medal_gold.png", class: "medal" %>
<%= render 'shared/profile_badges' %>
</div>
<h2><%= user.first_name %>, <%= user.age %></h2>
<div class="bio">
  <h5><%= user.bio %></h5>
</div>
<hr>
<div class="food-pref-icon">
  <%= image_tag user.pref_meat_icon, class: "foodpref-icons"%>
  <%= image_tag user.pref_fish_icon, class: "foodpref-icons"%>
  <%= image_tag user.pref_wheat_icon, class: "foodpref-icons"%>
</div>
<div class="pref-cook-pref">
  <!-- <h5>I want to cook...</h5> -->
  <div class="tags">
    <div class="tags">
      <div class="tag-food-type">
        <div class="tag-design text-center">
          <% if user.tag1 %>
            <h5><%= user.tag1 %></h5>
          <% end %>
          <% unless user.tag2.nil? %>
            <h5><%= user.tag2 %></h5>
          <% end %>
          <% unless user.tag3.nil? %>
            <h5><%= user.tag3 %></h5>
          <% end %>
          <% unless user.tag4.nil? %>
            <h5><%= user.tag5 %></h5>
          <% end %>
          <% if user.tag5 %>
            <h5><%= user.tag5 %></h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





