<br>
<div class="container form-style-5">
<%= simple_form_for @user, method: :put do |f| %>
  <%= f.label "Age" %><br>
  <%= f.text_field :age, required: true %><br><br>
  <%= f.label "Address" %><br>
  <%= f.text_field :address, required: true %><br><br>
  <%= f.input :gender, collection: User::GENDER2, required: true %>
  <%= f.input :pref_meat, label: "Do you eat meat?", required: true %>
  <%= f.input :pref_fish, label: "Do you eat fish?", required: true %>
  <%= f.input :pref_wheat, label: "Do you eat gluten?", required: true %><br>
  <%= f.label "What kind of food are you interested in cooking?" %><br>
  <%= f.text_field :tag1, class: "tag_autocomplete" %><br>
  <%= f.text_field :tag2, class: "tag_autocomplete" %><br>
  <%= f.text_field :tag3, class: "tag_autocomplete" %><br>
  <%= f.text_field :tag4, class: "tag_autocomplete" %><br>
  <%= f.text_field :tag5, class: "tag_autocomplete" %><br><br>
  <%= f.label "Your Tagline" %><br>
  <%= f.text_field :bio %><br><hr>
  <p class="text-center"><%= f.submit "Save", class: "btn btn-save date-button text-center" %></p>
<% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".birthday").flatpickr({
        parseDate: true,
      });
    });
  <% end %>
<% end %>

<% content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
  <%= javascript_tag do %>
    $(function(){
      $('.tag_autocomplete').autocomplete({
  source: ["american", "british", "cajun", "caribbean", "chinese",
    "filipino", "french", "german", "greek", "indian", "italian",
    "japanese", "jewish", "korean", "mediterranean", "mexican",
    "moroccan", "russian", "spanish", "thai", "turkish",
    "venezuelan", "vietnamese"]
    });
  });
  <% end %>
<% end %>

<% content_for(:left_nav) do %>

  <p>Hey, <%= @user.first_name%>!</p>

  <p>Customize your page</p>

<% end %>
