
<div class="container filters">
  <%= render 'users/match_settings' %>
</div>
<div class="container" id="cards-wrapper">
  <div class="flex-list" id="user_cards">

  <% if @users %>
  <% @users.each do |user| %>

    <div class="card">
      <div class="card-details">
        <%= render "user_card", user: user %>
        <%= render 'shared/action_buttons' %>
      </div>
    </div>
  <% end  %>
  <% else  %>
    <%= render "no_user", user: @user %>
  <% end %>

<% content_for(:left_nav) do %>
  <%= link_to "", user_path(current_user.id), class: "fa fa-user" %>
<% end %>
<% content_for(:center_nav) do %>
  <%= image_tag "http://res.cloudinary.com/wafflewitch/image/upload/v1500686632/logo_navbar1.png", alt: "title logo", class: "navbar-logo"%>
<% end %>
<%# content_for(:right_nav) do %>
  <%#= link_to "", user_chows_path(current_user.id), class: "fa fa-users" %>
<%# end %>
<% content_for(:right_nav) do %>
  <%#= image_tag "http://res.cloudinary.com/wafflewitch/image/upload/v1500931967/controls_icon.png", alt: "title logo", class: "navbar-logo" %>
  <input type="image" src="http://res.cloudinary.com/wafflewitch/image/upload/v1500931967/controls_icon.png" name="saveForm" class="navbar-logo" id="match-logo" />
<% end %>

<% content_for(:after_js) do %>
<% end %>
<!--  swiping logic here -->
