
<div class="profile-page" id="cards-wrapper">

  <div class="card">
    <div class="card-details" style="">
      <%= render "user_card", user: @user %>
      <%= render 'shared/profile_buttons' %>
      <% if current_user %>
        <%= link_to destroy_user_session_path, class: "btn btn-sign-out", method: :delete do %>
          <p>Sign Out</p>
        <% end  %>
      <% end %>
    </div>
  </div>

</div>


<% content_for(:left_nav) do %>
  <%= link_to edit_user_path(current_user.id) do %>

  <img src="https://res.cloudinary.com/wafflewitch/image/upload/v1501169765/edit_pencil.png" alt="" class="edit-icon-size">

<% end %>

<% content_for(:center_nav) do %>
  <%= image_tag "chowdown.png", alt: "title logo", class: "navbar-logo"%>
<% end %>

<% end %>
<% content_for(:right_nav) do %>
   <%= link_to image_tag("http://res.cloudinary.com/wafflewitch/image/upload/v1500688079/logo_symbol1.png", alt: "symbol logo", class: "navbar-logo-icon"), users_path %>

<% end %>


