<div class="container text-center">
  <%= simple_form_for [@user, @chow, @calendar] do |f| %>
    <%= f.text_field :dates, as: :array, class: "pickthreedates" %>
    <%= f.submit "Confirm Dates", class: "btn btn-primary" %>
  <% end %>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      $(".pickthreedates").flatpickr({
        mode: "multiple",
        parseDate: true,
      });
    });
  <% end %>
<% end %>

<% content_for(:left_nav) do %>
  <h4><%= link_to "", user_chow_messages_path(@user.id), class: "fa fa-chevron-left" %></h4>
<% end %>
<% content_for(:center_nav) do %>
  <h3>Pick 3 dates</h3>
<% end %>
