<div class="wrapper-calendar">
  <div class="container text-center">

  <%= image_tag @user.facebook_picture_url, class: "avatar-large" %>
  <div id="calendar">
     <%= render 'calendar', calendar: @calendar, user: @user, completed: @completed %>
  </div>

</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready( function() {
      $('.date-button').on("click", function(e) {
        $(this).addClass('selected').siblings().removeClass('selected');
      });

      $('#submit-calendar1').on("click", function(e) {
        var dateOne = "";
        $('.selected').each(function(){
          dateOne += $(this).text() + ';';
        })
        $.ajax({
          type: "POST",
          url: "/users/" + <%= current_user.id %> + "/chows/" + <%= @chow.id %> + "/calendars",
          data: {
            date_one: dateOne
          }
        });
      });
    });
  </script>
<% end %>

<% content_for(:left_nav) do %>
  <h4><%= link_to "", user_chow_messages_path(@user.id), class: "fa fa-chevron-left" %></h4>
<% end %>

