<h2 class="devise-title valign">Log in to Mission Carrefour</h2>

<div class="devise-form z-depth-1 valign">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, wrapper_html: { class: 's12' } %>
      <%= f.input :password, required: false, wrapper_html: { class: 's12' } %>
    </div>

    <div class="form-actions devise-submit">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
