<div class="container text-center">
<br>
  <h1>My Chowdowns</h1>
 <%= link_to "My upcoming Chowdowns", user_chows_path(@user, :query => "active") %>
 <%= link_to "My Chowdown history", user_chows_path(@user, :query => "finished") %>
</div>

<div class="container">
  <div class="flex-list">
    <% @chows.each do |chow| %>
      <div class="card">
          <% @partner = User.find(chow.user_2_id) %>
          <li><h3>chowdown with <%= @partner.first_name %> - <%= chow.status %> - <%= chow.id %> - <%= chow.user_1_id %> - <%= chow.user_2_id %> </h3></li>
          <%= link_to "Set Date", new_user_chow_calendar_path(chow.user1, chow) %> | <%= link_to "See Chatbox", user_chow_messages_path(chow.user1, chow) %> | <%= link_to "Delete Chowdown", user_chow_path(chow.user1, chow), method: :delete %>
      </div>
    <% end %>
  </div>
</div>




