<div class="buttons">
 <%= link_to "Upcoming", user_chows_path(@user, :query => "active") , {class: "btn-chowi #{('active' if @btn == 'finalized')}" } %>
 <%= link_to "History", user_chows_path(@user, :query => "finished") , {class: "btn-chowi #{('active' if @btn == 'finished')}"} %>
</div>

<% if @active == true %>
  <div class="container">
    <div class="flex-list">
      <% @finalized_chows.each do |chow| %>
          <div class="card card-chowi card-finalized">
            <% @partner = User.find(chow.user_2_id) %>
            <ul class="list-inline">
              <li><%= image_tag @partner.facebook_picture_url, class: "avatar-large avatar-chowi" %></li>
              <li><h3><%= @partner.first_name %></h3><li>
              <li><div class="card-links">
                <%= link_to new_user_chow_calendar_path(chow.user1, chow) do %>
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <% end %>
                <%= link_to user_chow_messages_path(chow.user1, chow) do %>
                  <i class="fa fa-comment-o" aria-hidden="true"></i>
                <% end %>
                 <%= link_to user_chow_path(chow.user1, chow), method: :delete do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </div></li>
            </ul>
            <h4><%= chow.date %></h4>
          </div>
        <% end %>

        <% @active_chows.each do |chow| %>
          <div class="card card-chowi card-active">
            <% @partner = User.find(chow.user_2_id) %>
            <ul class="list-inline">
              <li><%= image_tag @partner.facebook_picture_url, class: "avatar-large avatar-chowi" %></li>
              <li><h3><%= @partner.first_name %></h3></li>
              <li><div class="card-links">
                <%= link_to new_user_chow_calendar_path(chow.user1, chow) do %>
                  <i class="fa fa-calendar-" aria-hidden="true"></i>
                <% end %>
                <%= link_to user_chow_messages_path(chow.user1, chow) do %>
                  <i class="fa fa-comment-o" aria-hidden="true"></i>
                <% end %>
                <%= link_to user_chow_path(chow.user1, chow), method: :delete do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </div></li>
            </ul>
            <h4>Please set a date</h4>
          </div>
        <% end %>
    </div>
  </div>
<% end %>


<% if !@finished_chows.nil? %>
  <div class="container">
    <div class="flex-list">
      <% @finished_chows.each do |chow| %>
        <div class="card card-chowi card-finished">
          <% @partner = User.find(chow.user_2_id) %>
          <ul class="list-inline">
            <li><%= image_tag @partner.facebook_picture_url, class: "avatar-large avatar-chowi" %></li>
            <li><h3><%= @partner.first_name %></h3></li>
            <li><div class="card-links">
              <%= link_to user_chow_messages_path(chow.user1, chow) do %>
                  <i class="fa fa-comment-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to user_chow_path(chow.user1, chow), method: :delete do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </div></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<% content_for(:left_nav) do %>
  <%= link_to image_tag("http://res.cloudinary.com/wafflewitch/image/upload/v1500688079/logo_symbol1.png", alt: "symbol logo", class: "navbar-logo-icon"), users_path %>
<% end %>
<% content_for(:center_nav) do %>
  <h3>My chowdowns</h3>
<% end %>

<% content_for :after_js do %>
  <script>

      $(".btn-chowi").click(function() {
        $(".test").toggleClass('active');
      });

  </script>
<% end %>
