<div class="container text-center">
<br>
  <h1>My Chowdowns</h1>
 <%= link_to "My upcoming Chowdowns", user_chows_path(@user, :query => "active") , {class: "btn btn-primary"} %>
 <%= link_to "My Chowdown history", user_chows_path(@user, :query => "finished") , {class: "btn btn-primary"} %>
</div>

<div class="container">
  <div class="flex-list">
    <% @chows.each do |chow| %>
      <div class="card">
        <% @partner = User.find(chow.user_2_id) %>
        <h3>chowdown with <%= @partner.first_name %></h3>
        <%= link_to "See Chatbox", user_chow_messages_path(chow.user1, chow) %> | <%= link_to "Delete Chowdown", user_chow_path(chow.user1, chow), method: :delete %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:left_nav) do %>
  <%= link_to image_tag("http://res.cloudinary.com/wafflewitch/image/upload/v1500688079/logo_symbol1.png", alt: "symbol logo", class: "navbar-logo-icon"), users_path %>
<% end %>
<% content_for(:center_nav) do %>
  <h3>My chowdowns</h3>
<% end %>


