<div class="text-center form-signup">
<%= "Step #{@current_step} of #{@total_steps}" %>
<%= simple_form_for @user, url: wizard_path do |f| %>
  <%= f.label "Set your age" %><br>
  <%= f.text_field :age, required: true, class: "form-control form-center" %><br>
  <%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>
</div>


<% content_for(:center_nav) do %>
  <%= image_tag "title.svg", alt: "title logo", class: "navbar-logo"%>
<% end %>
