<div class="text-center">
<%= "Step #{@current_step} of #{@total_steps}" %>
<%= simple_form_for @user, url: wizard_path do |f| %>
<%= f.label "Last step! Tell us a little about yourself." %><br>
<%= f.text_field :bio %>
<%= f.submit "Finish!", class: "btn btn-primary" %>
<% end %>
</div>
