<div class="text-center form-signup">
<h4 class="text-signup">What's your address?</h4>
<%= simple_form_for @user, url: wizard_path do |f| %>
<%= f.text_field :address, required: true, class: "form-control"  %><br>
<%= f.submit "Continue", class: "btn button-chowdowns button-onboarding" %>
<% end %>
</div>

<% content_for(:center_nav) do %>
  <%= image_tag "chowdown.png", alt: "title logo", class: "navbar-logo"%>
<% end %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
