<div class="text-center form-signup">
<%= "Step #{@current_step} of #{@total_steps}" %>
<%= simple_form_for @user, url: wizard_path do |f| %>
<%= f.label "Set your address" %><br>
<%= f.text_field :address, required: true, class: "form-control"  %><br>
<%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>
</div>


<% content_for(:center_nav) do %>
  <%= image_tag "chowdown.png", alt: "title logo", class: "navbar-logo"%>
<% end %>

<% content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
<% end %>
