<div class="text-center form-signup">
<%= "Step #{@current_step} of #{@total_steps}" %>
<%= simple_form_for @user, url: wizard_path do |f| %>
<%= f.input :pref_meat, label: "Do you eat meat?", required: true %>
<%= f.input :pref_fish, label: "Do you eat fish?", required: true %>
<%= f.input :pref_wheat, label: "Do you eat gluten?", required: true %>
<%= f.submit "Continue", class: "btn btn-primary" %>
<% end %>
</div>


<% content_for(:center_nav) do %>
  <%= image_tag "title.svg", alt: "title logo", class: "navbar-logo"%>
<% end %>
